apiVersion: apps/v1
kind: Deployment
metadata:
  name: tomcat-deployment
  labels: 
    app: tomcat-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tomcat-app
  template:
    metadata:
      labels:
        app: tomcat-app
    spec:
      containers:
        - name: tomcat-app
          image: thanhvu638/project:{{ version }}
          ports: 
          - containerPort: {{ container_port }}
          volumeMounts:
          - mountPath: /usr/local/tomcat/logs
            name: tomcat-logs
      volumes:
      - name: tomcat-logs
        persistentVolumeClaim:
          claimName: pvc2

--- 

apiVersion: v1 
kind: Service
metadata:
  name: tomcat-service
spec:
  selector:
    app: tomcat-app
  type: NodePort
  ports:
  - port: {{ service_port }}
    targetPort: {{ container_port }}
    nodePort: {{ node_port }}
    
